include DATA_LICENSES.md
include LICENSE
include README.md
include generate.py
include pyproject.toml
recursive-include sources *
recursive-include src/sage_data_elliptic_curves/data *.db rank*
recursive-include tests *.py
